{% load static %}
{% block sidebar %}

<div class="col-md-4 float-right mt-3">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'blog/images/project3.png' %}" class="card-img-top" alt="my image">
        <div class="card-body">
          <h5 class="card-title"><em><b>Next Blog Full Info</b></em></h5>
          <p class="card-text"><i>Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process,
              and forget all about creating compelling content</i>.</p>
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
</div>

{% endblock sidebar %}


</div>
</div>